body { margin: 0; padding: 0; }

cell {
    background-repeat: no-repeat;
    background-image: none;
}

.cell:hover {
    cursor: pointer;
    background-image: url("http://oi63.tinypic.com/2d8ffp.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.turmite {
    background-image: url("http://oi66.tinypic.com/24qrddx.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.turmite:hover {
    cursor: pointer;
}
